<!-- Membership Name -->
<div class="mb-3">
  <%= f.label :name, "Membership Name", class: "form-label" %>
  <%= f.text_field :name, class: "form-control", required: true %>
</div>

<!-- Membership Price -->
<div class="mb-3">
  <%= f.label :price_cents, "Price ($)", class: "form-label" %>
  <%= f.number_field :price_cents, value: (f.object.price_cents.to_f / 100), step: 0.01, class: "form-control", required: true %>
</div>

<!-- Features -->
<h4>Features</h4>
<% Membership::FEATURE_KEYS.each do |key| %>
  <% value = f.object.features[key.to_s] %>
  <% type = Membership::FEATURE_TYPES[key] %>

  <% if type == :boolean %>
    <div class="mb-3 form-check">
      <%= f.check_box "features[#{key}]", { class: "form-check-input" }, true, false %>
      <%= f.label "features_#{key}", key.to_s.humanize, class: "form-check-label" %>
    </div>
  <% elsif type == :numeric %>
    <div class="mb-3">
      <%= f.label "features_#{key}", key.to_s.humanize, class: "form-label" %>
      <%= f.number_field "features[#{key}]", value: (value || 0), class: "form-control", min: 0 %>
    </div>
  <% elsif type == :range_hash %>
    <div class="mb-3">
      <h4>Bid Range</h4>
      <% bid_range = f.object.features["bid_range"] || {} %>
      <div class="row g-2 mb-3">
        <div class="col">
          <%= f.label "features_bid_range_low", "Low ($)", class: "form-label" %>
          <%= f.number_field "features[bid_range][low]", value: bid_range["low"], class: "form-control", min: 0 %>
        </div>
        <div class="col">
          <%= f.label "features_bid_range_high", "High ($)", class: "form-label" %>
          <%= f.number_field "features[bid_range][high]", value: bid_range["high"], class: "form-control", min: 0 %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>

