<h2>License Types</h2>

<%= link_to "Add License", new_admin_license_type_path, class: "btn btn-primary mb-3" %>

<table class="table table-hover">
  <thead class="table-dark">
  <tr>
    <th>Name</th>
    <th>Verification Required</th>
    <th class="text-end">Actions</th>
  </tr>
  </thead>

  <tbody>
  <% @license_types.each do |license| %>
    <tr>
      <td><%= license.name %></td>
      <td>
          <span class="badge <%= license.requires_verification? ? 'bg-warning' : 'bg-success' %>">
            <%= license.requires_verification? ? "Yes" : "No" %>
          </span>
      </td>
      <td class="text-end">
        <div class="btn-group btn-group-sm">
          <%= link_to "Edit", edit_admin_license_type_path(license), class: "btn btn-outline-secondary" %>
          <%= button_to "Delete",
                        admin_license_type_path(license),
                        method: :delete,
                        data: { confirm: "Are you sure?" },
                        class: "btn btn-outline-danger",
                        form_class: "d-inline" %>
        </div>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>